html {
	height: 100%;
	/* max-height: 600px; rr*/
	width: 100%;
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://chrisroberts.nyc/assets/1_train_540_revised.png'), 
		url('https://chrisroberts.nyc/assets/2_track.png'),
		url('https://chrisroberts.nyc/assets/3_local_buildings.png'),
		url('https://chrisroberts.nyc/assets/4_cloud.png'),
		url('https://chrisroberts.nyc/assets/5_skyline.png');
	background-repeat: repeat-x;
	background-position: 
		0 100%,
		0 100%,
		0 100%,
		0 80%,
		0 100%;
	background-size: 
		200px,
		40px,
		200px 80px,
		100px,
		500px 300px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			5000px 100%,
			800px 100%,
			-700px 100%,
			-50px 80%,
			-400px 100%;
		}
	}