body {
	padding-top: 70px;	
}

/*inspiration: morganherlocker.com*/
#logo {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  transition-property: box-shadow;
}

/*inspiration: morganherlocker.com*/
#logo:hover {
  box-shadow:10px 0px #1f424d, 20px 0px #5BC0DE, 30px 0px #F0AD4E, 40px 0px #5CB85C, 50px 0px #EEEEEE;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  transition-property: box-shadow;
}
#blog-jumbotron {
	background-image: url('/assets/bright-squares-skyline2.png');
  background-position:left center;
}
::-moz-selection { /* Code for Firefox */
    background: #F0AD4E;
}
::selection {
    background: #F0AD4E;
}
header, h1, h2, h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.row {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.row a {
	font-weight: bold;
}
